// Cluster Configuration ---------------------------------------------------------------------------

executor="YOUR EXECUTOR"
walltime="1:00:00"
queue="QUEUE NAME"
mem_param="mem"
memory="20"
procs="4"
useLegacyTorqueJobPolling=true	// Req for 0.9.9.9

// Stages ------------------------------------------------------------------------------------------

commands {

    folders {
    	procs="1"
    	memory="2"
    }

    stringtie {
        procs="4"
        memory="20"
    }

    genome_gen {
        procs="4"
        memory="20"
    }

    samtools {
        procs="1"
        memory="2"
    } 

    supertranscript {
        procs="1"
        memory="4"
    }

    align {
    	procs="4"
    	memory="20"
    }

    plot {
        procs="1"
        memory="20"
    }


}
